################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CProgrammingTeam/v17/.suo
/.vs/CProgrammingTeam/v17/ipch/AutoPCH/4903017d65864dc3/MAIN.ipch
/.vs/CProgrammingTeam/v17/Browse.VC.db
/.vs/CProgrammingTeam/v17/Browse.VC.opendb
/.vs/CProgrammingTeam/v17/Browse.VC.db-wal
/.vs/CProgrammingTeam/v17/Browse.VC.db-shm
/.vs/CProgrammingTeamNew/v17/.suo
/CProgrammingTeam/x64/Debug/vc143.pdb
/CProgrammingTeam/x64/Debug/vc143.idb
/CProgrammingTeam/x64/Debug/main.obj
/CProgrammingTeam/x64/Debug/CProgrammingTeam.tlog/link.write.1.tlog
/CProgrammingTeam/x64/Debug/CProgrammingTeam.tlog/link.read.1.tlog
/CProgrammingTeam/x64/Debug/CProgrammingTeam.tlog/link.command.1.tlog
/CProgrammingTeam/x64/Debug/CProgrammingTeam.tlog/CProgrammingTeam.lastbuildstate
/CProgrammingTeam/x64/Debug/CProgrammingTeam.tlog/CL.write.1.tlog
/CProgrammingTeam/x64/Debug/CProgrammingTeam.tlog/CL.read.1.tlog
/CProgrammingTeam/x64/Debug/CProgrammingTeam.tlog/CL.command.1.tlog
/CProgrammingTeam/x64/Debug/CProgrammingTeam.log
/CProgrammingTeam/x64/Debug/CProgrammingTeam.ilk
/CProgrammingTeam/x64/Debug/CProgrammingTeam.exe.recipe
/CProgrammingTeam/CProgrammingTeam.vcxproj.user
/x64/Debug/CProgrammingTeam.pdb
/x64/Debug/CProgrammingTeam.exe
/.vs/CProgrammingTeam/v17/ipch/AutoPCH/6f8751b3487ccab1/MAIN.ipch
/.vs/VSWorkspaceState.json
/CProgrammingTeam/x64/Debug/CProgrammingTeam.tlog/unsuccessfulbuild
